*{
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
body {
  background-color: transparent;
}
.root {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}
.heighter{
  height:100vh;
  width:100vw;
  background-color:red;
}
.main{

  max-width: 90%;
  margin: auto;
  background-color: transparent;
  min-height: 80vh;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  padding-left: 0;

}