.main__chatbody {
  flex-grow: 1;
  background-color: transparent;
  border-radius: 10px;
  padding: 15px 20px;
  display: flex;
  border: 1px solid white;
  box-shadow: 5px 5px 10px 10px rgb(0, 0, 0, 0.5);
  color: white;
}